body {
	background-color: black;
}
.main {
  background-color: white;
  margin-top: 110px;
  padding-left: 100px;
  min-width: 1200px;
  height: 500px;
}
.intro {
  font-family: sans-serif;
  font-size: 42px;
  font-weight: bold;
  color: red;
  padding-top: 200px;


}
.instructions {
  font-family: sans-serif;
  font-size: 55px;
  font-weight: bold;
  color: blue;
  padding-top: 170px;
}
.ryu {
	float:left;
}

.hadouken {
  background-image: url('../images/hadouken.gif');
  width: 156px; 
  height: 90px;
  display: none;
  position: relative;
  top: 200px;
  left: 2000px;
  float: left;
}
.ryu-ready, .ryu-still, .ryu-throwing, .ryu-cool {
  width: 659px;
  height: 494px;
}

.ryu-ready, .ryu-throwing, .ryu-cool {
  display: none;
} 
.ryu-cool {
  background-image: url('../images/ryu-cool.gif');
}

.ryu-ready {
  background-image: url('../images/ryu-ready-position.gif');

}

.ryu-still {
  background-image: url('../images/ryu-standing-still.png');
}

.ryu-throwing {
  background-image: url('../images/ryu-throwing-hadouken.png');
}
.hadouken, .ryu-ready, .ryu-still, .ryu-throwing {
  background-repeat: no-repeat;
}